{% extends 'plans/base.html' %}

{% block content %}

</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead"></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Are you sure to cancel your subscription after {{ last_day_show |default_if_none:"current billing cycle" }} ?</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <div class="container">
              {% if cancel_at_period_end %}
              Your membership will run to the end of your billing cycle.
              {% elif membership %}
              <form action="{% url 'cancel_insurance' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Cancel" class="btn btn-lg btn-danger">
              <a href="{% url 'settings' %}"><button type="button" class="btn btn-lg btn-primary">Keep It</button></a>
              </form>
              {% endif %}
            </div>
        </ul>
      </div>
    </div>
  </div>

</div>



{% endblock %}




