{% extends 'plans/base.html' %}
{% load static %}

{% block content %}
<br> <br> <br> <br>
<br> <br> <br> <br>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  {% if membership %}
      <p class="lead">Thank you very much! Your subscription will last until {{ last_day_show |default_if_none:"" }}</p> <br><br>
      <p class="lead">Your subscription will be automatically renewed unless you cancel it or the US defeats coronavirus.</p> <br><br>
  {% else %}
      <p class="lead">Your payment did not go through. Please try again.</p> <br><br>
  {% endif %}


<br> <br> <br> <br>



</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <a href="https://www.facebook.com/sharer/sharer.php?u=https://coronaconfront.com/"><img src="{% static "facebook.png" %}" id="facebook" height="62" width="62"></a> &nbsp;

  <a href="http://www.reddit.com/submit?url=https://coronaconfront.com/&title=Help%20each%20other%20protect%20against%20high%20deductibles%20during%20coronavirus%20pandemic!"><img src="{% static "reddit.png" %}" id="reddit" height="62" width="62"></a> &nbsp;

  <a href="https://mail.google.com/mail/?view=cm&su=Help%20each%20other%20protect%20against%20high%20deductibles%20during%20coronavirus%20pandemic!&body=www.coronaconfront.com"><img src="{% static "gmail.png" %}" id="gmail" height="62" width="62"></a> &nbsp;

  <a href="http://compose.mail.yahoo.com/?subject=Help%20each%20other%20protect%20against%20high%20deductibles%20during%20coronavirus%20pandemic!&body=www.coronaconfront.com"><img src="{% static "yahoo.png" %}" id="yahoo" height="62" width="62"></a><br>
<br>
  <p class="lead">Share CoronaConfront with friends to grow organizational funds</p> <br><br>

</div>

{% endblock %}