{% extends 'plans/base.html' %}

{% block content %}

</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5">Emergency Contact Information</h1>
  <p class="lead"></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Your emergency contact is authorized to submit the reimbursement form for you</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <form action="{% url 'emergency_profile' %}" method='post'>
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Save" class="btn btn-lg btn-primary float-right">
              <a href="{% url 'settings' %}"><button type="button" class="btn btn-lg btn-danger float-left">Back</button></a>
            </form>
        </ul>
      </div>
    </div>
  </div>

</div>


{% endblock %}

