
{% extends 'plans/base.html' %}

{% block content %}

</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead"></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Do you have medical insurance for the next 3 months?</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <form action="{% url 'new_insurance' %}" method='post'>
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" id="insurance_yes" value="Next"  class="btn btn-lg btn-primary float-right">
              <a href="{% url 'get_started' %}"><button type="button" id="insurance_no" class="btn btn-lg btn-danger float-left">Back</button></a>
            </form>
        </ul>
      </div>
    </div>
  </div>

</div>


<script>
$('#id_insurance_exists').on('change',function disappear(){
    if( $(this).val()==="NO"){
    $("#insurance_yes").hide()
    $("#insurance_no").show()
    }
    if( $(this).val()==="YES"){
    $("#insurance_yes").show()
    $("#insurance_no").show()
    }
});
</script>



{% endblock %}




