{% extends 'plans/base.html' %}

{% block content %}

</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5">Reimburse Me</h1>
  <p class="lead"></p>
</div>


<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Your data is your property. We need it just to send you a check.</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <form action="{% url 'reimburse' %}" method='post'>
              {% csrf_token %}
              <table align="center" >{{ form.as_table }}</table>
              <input type="submit" value="Submit" class="btn btn-lg btn-primary float-right">
              <a href="{% url 'home' %}"><button type="button" class="btn btn-lg btn-danger float-left">Cancel</button></a>
            </form>
        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock %}

