{% extends 'plans/base.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Corona Confront</span>
          <span class="badge badge-secondary badge-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Corona Confront Membership</h6>
            </div>
            <span class="text-muted">${{ og_dollar }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ final_dollar }}</strong>
          </li>
        </ul>



        <div class="text-center pt-3">
        <form action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_FqEci7lCGv1T0M2GcErtoOXq00nBeeeDgM"
            data-amount="{{ price }}"
            data-name="Corona Confront"
            data-email="{{ user.email }}"
            data-locale="auto">
          </script>
          <input type="hidden" value="{{ plan }}" name="plan" />
        </form>
        </div>
        </div>
      </div>
      </div>




{% endblock %}
