{% extends 'plans/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5">Perfect Ratio</h1> <br>
    <p class="lead">We aim for a ratio of 150 non-hospitalized to 1 hospitalized member.</p>
    <p class="lead">If we reach the ratio, we'll send you a check worth your full deductible cost.</p>
    <p class="lead">If we don't reach the ratio, hospitalized members will still benefit from partial reimbursement.</p>
{#    <p class="lead">Given low mortality and high infection rates, this model allows for the society to support families of the least lucky ones.</p> <br>#}

</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Monthly Plan</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$9 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li></li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">3-month Plan</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li></li>
        </ul>
      </div>
    </div>
  </div>

<div class="text-center">
    <a href="{% url 'new_insurance' %}"><button type="button" class="btn btn-lg btn-primary">Continue</button></a>
</div>

</div>
{% endblock %}
